* {
    margin: 0;
    padding: 0;                         
    box-sizing: border-box;
}

body 
{
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    color: black;
    line-height: 1.6;
}

header 
{
    background-color: black; 
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a 
{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
nav ul li 
{
    margin-left: 15px;
}

nav ul li a 
{
    color: white;
    text-decoration: none;
}
nav ul 
{
    display: flex;
    list-style: none;
}



h3 
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

section 
{
    display: flex;
    flex-wrap: wrap; /* passa pra outra linha se nao tiver espaço*/
    justify-content: flex-start;
    padding: 25px;
}

article 
{
    margin: 15px;
    display: flex;
    flex-direction: column;
    flex: 1 1 350px; /* faz com que encolham */
    max-width: 800px; 
}
article img 
{
    width: 100%;
}
article p 
{
    text-align: center;
    margin-top: 10px;
}


@media (max-width: 670px) 
{
    
    header a
    {
        flex-direction: column;
        align-items: center;
       font-size: 200%;
    }

    nav 
    {
        width: 100%; 
        margin-left: auto; /* bota o nav pro lado direito */
    }

    header nav ul li 
    {
        margin: 10px; 
        text-align: right;

    }

    nav ul 
    {
        flex-direction: column; 
        padding: 0; 
    }


    article 
    {
        width: 100%; 
    }

    article p 
    {
        text-align: center;
        margin-top: 10px;
    }
}

@media (max-width: 320px) 
{
    article 
    {
        width: 100%;
    }

    article p 
    {
        text-align: center;
        margin-top: 10px;
    }
    nav ul li 
    {
        margin: 5px 0;
    }
    nav ul 
    {
        display: flex;
        flex-direction: column;
    } 
}
